.album {
  align-items: center;
  justify-content: center;
}

.albumRow {
  cursor: pointer;
  background-color: gray;
  margin: 20px;
  list-style-type: none;
  height: 300px;
  display: grid;
  grid-template-rows: max-content;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.userAlbums {
  display: flex
 }
 